<h1>User#password_reset</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/password_reset.html.erb
</p>
http://localhost:9000/account/activation?token=<%=URI::encode(@user.activation_token)%>&<%=URI::encode(@user.email)%>